<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets" version="1.20.1" id="https://addons.opera.com/extensions/details/extendtube/" href="https://addons.opera.com/extensions/details/extendtube/">
  <name short="xtt">ExtendTube</name>
  <icon src="share/image/icon.png"/>
  <author href="http://my.opera.com/An-dz" email="an-dz@myopera.com">
		Darko Pantić &amp; André Zanghelini
	</author>
  <access origin="http://lyrics.wikia.com"/>
  <access origin="https://files.myopera.com"/>
  <access origin="https://extension-updates.opera.com"/>
  <access origin="http://gdata.youtube.com"/>
  <content type="text/html" src="index.html"/>
  <license href="http://www.apache.org/licenses/LICENSE-2.0">Copyright © 2011 2012 2013 Darko Pantić (pdarko@myopera.com)&#13;
&#13;
Licensed under the Apache License, Version 2.0 (the "License");&#13;
you may not use this file except in compliance with the License.&#13;
You may obtain a copy of the License at&#13;
&#13;
	http://www.apache.org/licenses/LICENSE-2.0&#13;
&#13;
Unless required by applicable law or agreed to in writing, software&#13;
distributed under the License is distributed on an "AS IS" BASIS,&#13;
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.&#13;
See the License for the specific language governing permissions and&#13;
limitations under the License.</license>
  <update-description href="https://extension-updates.opera.com/api/w3c-wd1/update/4930b578-ef8b-4908-901f-5e87a1789324/"/>
  <description xml:lang="en">Extend YouTube. Bend it to your will.</description>
</widget>
